/************* Font family *************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/************* Reset *************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}

/************* Global CSS *************/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #020617;
}

.wrapper {
  width: 42rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  background: #0f172a;
  color: #f1f5f9;
  border-radius: 0.8rem;
  box-shadow: 0 1.2rem 1.6rem 0.2rem hsla(0, 0%, 0%, 0.14),
    0 0.4rem 2rem 0.4rem hsla(0, 0%, 0%, 0.12),
    0 0.8rem 0.8rem -0.25rem hsla(0, 0%, 0%, 0.2);
}

.wrapper header {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  gap: 0.8rem;
  color: #8b5cf6;
  padding: 1.6rem;
  align-items: center;
  border-bottom: 1px solid #1e293b;
}

.wrapper header i {
  display: none;
  font-size: 2.8rem;
  cursor: pointer;
}

.active {
  display: flex !important;
}

.hidden {
  display: none !important;
}

/************* Input Search *************/
.wrapper .input-card {
  padding: 0 1.6rem 1.6rem 1.6rem;
  flex-direction: column;
  gap: 1.6rem;
}
.input-card .input-card_message__text {
  display: none;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.2rem;
  border-radius: 0.8rem;
}
.input-card .input-card_message__text.error {
  color: #ef4444;
  display: block;
  background: #020617;
}
.input-card .input-card_message__text.pending {
  color: #14b8a6;
  display: block;
  background: #020617;
}
.input-card .input-card_content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.input-card :where(input, button) {
  width: 100%;
  height: 5rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
  border-radius: 0.8rem;
}
.input-card input {
  text-align: center;
  padding: 0 1rem;
  background: #64748b;
  border: 1px solid #64748b;
  color: #f1f5f9;
}
.input-card input:is(:focus, :valid) {
  border: 1px solid #1e293b;
}
.input-card input::placeholder {
  color: #94a3b8;
}
.input-card .input-card_separator {
  height: 1px;
  width: 100%;
  background: #1e293b;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-card .input-card_separator::before {
  content: "or";
  color: #f1f5f9;
  font-size: 1.6rem;
  padding: 0 1.6rem;
  background: #0f172a;
}
.input-card button {
  color: #f1f5f9;
  cursor: pointer;
  background: #5b21b6;
  transition: 0.3s ease;
}
.input-card button:hover {
  background: #4c1d95;
}

/************* Weather Part *************/
.wrapper .weather-card {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.weather-card img {
  width: 100px;
  height: 100px;
}
.weather-card .weather-card_temperature {
  font-weight: 500;
  font-size: 7.4rem;
  line-height: 1;
}
.weather-card .weather-card_weather {
  font-size: 2rem;
}
.weather-card .weather-card_location {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #64748b;
  font-size: 1.6rem;
}
.weather-card .weather-card_location i {
  font-size: 2rem;
}

.weather-card .weather-card_action {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #94a3b8;
}
.weather-card_action__feels {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.weather-card_action__feels i {
  color: #dc2626;

  font-size: 3rem;
}
.weather-card_action__feels div {
  padding: 1.6rem;
}
.weather-card_action__feels div span {
  font-size: 1.6rem;
}
.weather-card_action__feels div p {
  font-size: 1.2rem;
}
.weather-card_action__humidity {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.weather-card_action__humidity {
  border-left: 1px solid #94a3b8;
}
.weather-card_action__humidity i {
  color: #0284c7;

  font-size: 3rem;
}
.weather-card_action__humidity div {
  padding: 1.6rem;
}
.weather-card_action__humidity div span {
  font-size: 1.6rem;
}
.weather-card_action__humidity div p {
  font-size: 1.2rem;
}
